{% extends "base.html" %}
{% block title %}Package Store | About{% endblock %}
{% block content %}
<section class="page-title">
    <h1>Package Store</h1>
    <p>Consists of All liquors , like wines , Beers and Spirits </p>
</section>

<section class="about-grid">
    <div>
        <h2> Offers </h2>
        <ul>
            <li>5 percent discount for students</li>
            <li>Buy 2 get 1 free for wines</li>
            <li>Buy 1 get 1 for beers </li>
            <li>10 percent discount above 100 dollars bill</li>
        </ul>
    </div>
    <div class="store-card">
        <h2>Store Info</h2>
        <p>Location: New Haven, CT</p>
        <p>Phone: (203)-410-7376</p>
        <p>Email: info@packagestore.com</p>
    </div>
</section>
{% endblock %}